footer {
    display: flex;
    align-items: center;
    justify-content: end;
    gap :20px;
    padding: 30px 60px;
    width :100%;
}
footer a{
    font-size: 22px;
    font-weight: 400;
    color: white;
}
.separator {
    width: 2px;
    height : 15px;
    background-color: white;
}
.footer_bg{
    background-image: url(../images/pages/new_bg.webp);
    background-size: cover;
    height : 60px;
}
footer a:hover {
    font-weight: 500;
}
@media screen and (max-width:1024px) {
    footer {
        justify-content: center ;
    }
    footer a{
        font-size: 18px;
    }
}
@media screen and (max-width:767px) {
    footer {
        justify-content: center ;
        width:100%;
    }
    footer a{
        font-size: 17px;
    }
}
