
header {
    background-image: url('../images/pages/homepage/background_home.webp');
    background-size : cover;
}

.menu_home {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_home ul {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    padding-left: 4rem;
}

.link {
    position:absolute;
    font-weight: medium;
    text-decoration: none;
}

.link:hover {
    font-weight: bold;
}

.menu {
    height:6.5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu nav{
    padding-right: 5%;
}
.menu ul {
    display: flex;
    flex-direction: row;
    column-gap: 35px;
}
a {
    font-size: 20px; 
    color : var(--main-color);
}
.active {
    font-weight: bold;
    text-decoration: underline 2px;
    text-underline-offset: 10px;
}
.banner{
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-right: 120px;
    margin-top: 200px;
    color : var(--main-color);
}
.banner_title {
    font-size: 100px;
    font-weight: bold;
    line-height: 110px;
    text-align: end;
    margin: 0;
    
}
.banner_subtitle{
    font-size: 30px;
    font-weight: regular;
    margin: 0;
    padding-top: 10px;;
}
