.menu {
    height:9vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    padding-right: 60px;
}

.add_bg, .contact_menu {
    background-image: url(../images/pages/new_bg.webp);
    background-size: cover;
}

.contact_menu{
    height:35vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 60px;
    padding-top: 20px;
}
nav {
    margin-left: 0;
}

ul {
    display: flex;
    flex-direction: row;
    gap:35px;
}

nav a {
    font-size: 24px; 
    font-weight: 300;
    color : white;
    position: relative;
    background-color: transparent;
}
.active {
    font-weight: bold;
    text-underline-offset: 10px;
    color: white;
}
nav a:hover {
    font-weight: bold;
  }

.underLine:before{
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: white;
    transform: scale(0);
    transform-origin: 50%;
}
  
.underLine, .underLine:before{
    -o-transition: 0.27s;
    -ms-transition: 0.27s;
    -moz-transition: 0.27s;
    -webkit-transition: 0.27s;
    transition: 0.27s;
}
  
.underLine:hover:before{
    transform: scale(1);
}