.contact_page {
    position:relative;
    display: flex;
    justify-content: center;
}
.contact_container {
    padding: 60px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc(100% - 45%);
    gap: 60px;
    margin-top: -170px;
    margin-bottom: 110px;
    box-shadow: 5px 5px 10px rgba(0, 102, 255, 0.2);
}
/*
width: calc (100% -50px);
*/

.contact_container p{
    width: 70%;
    line-height: 22px;
    margin-top: 20px;;
}

/*Form style*/
.input_container input, textarea{
    width: 60%;
    max-width:60%;
    overflow: auto;
    margin-bottom: 20px;
    padding:10px;
    border: 2px solid rgba(164, 164, 165, 0.5);
    color: var(--text-color);
    font-size: 18px;
    background-color: white;
    border-radius: 2px;;
}
.input_container input::placeholder,
textarea::placeholder {
    color: var(--text-color);
    opacity: 0.6;
    font-size: 18px;
}
.input_container input:focus{
    border-color: white;
}
/* to maintain same background color even i complete input by autocomplete*/
input:-webkit-autofill { 
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: var(--white-color) !important;
    transition: background-color 5000s ease-in-out 0s; 
}
.input_container input {
    height: 45px;
}
textarea {
    height: 120px;
    vertical-align: top;
}

input:required:invalid:focus {
border: 2px solid var(--main-color);
}
.contact_container form button{
    margin-top:30px;
    border-width: 2px;
    font-size: 22px;
}

.hidden_label {
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    padding: 0; 
    overflow: hidden; 
    clip: rect(0, 0, 0, 0);
    border: 0; 
}

.modal_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.6);
    display: flex;  
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal_container {
    padding : 20px 20px;
    position: relative;
    overflow: hidden;
    background: white;
    width: 550px;
    height:300px;
    min-width: 550px;
    min-height: 260px;
}

.modal_close_icon {
    position: absolute;
    top: 15px;
    right: 15px;
    max-width: 20px;
}

.modal_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;  
    gap :15px;
}

.modal_icon {
    width : 80px;
    height :80px;
}

.modal_message {
    display: flex;
    flex-direction: column;
    gap :15px;
}
.remark_msg{
    display: flex;
    align-items: center;
    padding : 0 40px;
}

.remark_msg img{
    width: 17px;
    height: 17px;
}

.remark_msg p{
    color : #f51af2;
    font-size: 17px;
    line-height: 18px;
    width:100%;
}

@media screen and (max-width:1024px) {
    .contact_container {
        width: calc(100% - 30%);
    }
}

@media screen and (min-width: 375px) and (max-width:768px) {
    .contact_container {
        width: calc(100% - 10%);
        gap: 40px;
    }
    .contact_container p{
        width: 80%;
    }
    .input_container input, textarea{
        width: 80%;
        max-width:80%;
        margin-bottom: 20px;
        padding:10px;
        font-size: 16px;
    }
    .input_container input::placeholder,
    textarea::placeholder {
        font-size: 16px;
    }
    .input_container input {
        height: 40px;
    }
  
    .contact_container form button{
        margin-top: 10px;
        font-size: 16px;
    }

    .modal_container {
        width: 350px;
        height:200px;
        min-width: 140px;
    }
}