.error_page {
    padding : 100px 0;
}
.error_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.error_container h1,
.error_message {
    color:#f51af2;
    margin-bottom: 20px;
}
.error_message {
    font-size: 28px;
}
.error_btn_container{
    margin: 20px 0;
}
.error_btn_container img {
    width: 15px;
}
@media screen and (max-width:1024px) {
    .errorPage_message {
        font-size: 22px;
    }
}
@media screen and (max-width:768px) {
    .errorPage_message {
        font-size: 20px;
        width: calc(100% - 50px);
    }
}