
.error {
    max-height: 80vh;
    display: flex;
    flex-direction: column;
}

.error_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap : 15px;
}

.error_container h1 {
    margin-top :0;
    color:#FB7E27;
    font-size: 120px;;
}
.error_container p {
    font-size: 30px;
    color:#FB7E27;
}

.error_container span {
    margin-top : 50px;
}
.error_container a {
    font-size: 20px;
}