.home_page {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/pages/background_home.webp);
    background-size: cover;
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    justify-content: space-between;
}

.homeTxt_container {
    text-align: left;
    margin-top: 0;
    margin-bottom: 15vh;
    margin-left:10vw;
}

h1{
    font-size: 10rem;
    line-height: 10rem;
}
.homeTxt_container p {
    font-size: 2.5rem;
    font-weight: 400;
}



