.home_page {
    min-height: 800px;
    height: 100vh;
    width:100vw;
    background-image: url(../images/pages/new_bg.webp);
    background-size: cover;
    background-position: center;
}
.home_page,
.home_page main {
    display: flex;
    flex-direction: column;
}
.home_page main{
    flex:1;
    justify-content: center;
    align-items: center;
}
.home_container {
    text-align: center;
}
h1{
    font-size: 125px;
    line-height: 1;  
    color : white;
}
.home_container p {
    font-size: 35px;
    font-weight: 400;
    color:white;
}
@media screen and (max-width:1024px) {
    h1{
        font-size: 100px;   
    }
    .home_container p{
        font-size: 25px;
    }
}
@media screen and (max-width:768px) {
    h1{
        font-size: 80px;
    }
    .home_container p{
        font-size: 22px;
    }
}
@media screen and (max-width:768px) {
    h1{
        font-size: 70px;
    }
    .homeTxt_container p{
        font-size: 25px;
    }
}
@media screen and (max-width:440px) {
    h1{
        font-size: 55px;
    }
    .homeTxt_container p{
        font-size: 20px;
    }
}