.presentation {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.presentation {
    gap: 100px;
}
.presentation_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 150px;
    gap: 60px;
}  

.presentation_container, .presentation_img {
    flex:1;
    max-width: 50%;
} 

.profile_img {
    max-height:100%;
    width:auto;
}
.presentation_img {
    display: flex;
    align-content: center;
    margin-right: 100px

}

.realisations_img img {
    width:100%;
    transition : opacity 300ms ease-in-out;   
}

.overlay {
    opacity: 0;
    position: absolute;
    left:0;
}

.realisations_img:hover .overlay{
    opacity:0.3;
}

.realisations_img:hover .overlay_text {
    opacity:1;
}

.icons_container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 60px;
    padding: 50px 50px;
}
.item_container {
    text-align: center;
}

.filterButton_container {
    display:flex;
    align-items: center;
    gap:30px
}

#competences {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 0 6vw;
    margin-top: 50px;
}

.competence_description {
    max-width: 60vw;
    margin-top: 50px;
}

.filter_buttons {
    align-self: center;
}

.button.active {
    background-color: var(--main-color);
    color: white;
    font-weight: 400;
}