.presentation_page section{
    padding:0 20px;
}

.presentation {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.presentation_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 150px;
    gap: 50px;
}  
.presentation_container, .presentation_img {
    max-width: 50%;
} 

.profile_img {
    width:100%;
}
.presentation_img {
    display: flex;
    align-content: center;
    margin-right: 100px;
}
#competences {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 30px;
}

.icons_container {
    display:flex;
    flex-wrap: wrap;
    grid-gap: 60px;
    padding: 30px 50px;
    justify-content: center;
}
.item_image{
    width : 65px;
    height : 65px;
    margin : 0px 50px 0 50px; 
}
.item_container { 
    text-align: center;
}
.item_container p{
    font-size: 18px;;
}
.competence_description {
    max-width: 60vw;
    margin-top: 50px;
}

.filter_buttons {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
}
.button.active {
    background-color: var(--main-color);
    color: white;
    font-weight: 400;
}
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.services > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    width: 100%;
}

.serviceItem_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor : pointer;
    margin-bottom: 20px;
    color : var(--main-color);
    font-size: 50px; 
    padding: 30px 0;
    border : 3px solid var(--main-color);
    border-radius: 10px;
    min-width: 250px;
    overflow: hidden;
}
.serviceItem_title h4 {
    font-size: 20px;    
}
.description_box{
    padding: 20px;
    opacity: 0;
    transition : opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    max-width: 245px;
    margin-top: 20px;
    transition: opacity 0.5s ease;
     
}
.description_box> p{
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 10px;
    line-height: 17px;
    text-align: center;
}

.description_box.visible {
    opacity: 1;
    max-height: 250px;
}

.description_box.hidden {
    opacity: 0;
    max-height: 0px;
}