.presentation_page section{
    padding:0 20px;
}

.presentation {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.presentation_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 150px;
    gap: 50px;
}  
.presentation_container, .presentation_img {
    max-width: 50%;
} 

.profile_img {
    width:100%;
}
.presentation_img {
    display: flex;
    align-content: center;
    margin-right: 100px;
}
#competences {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 30px;
}

.icons_container {
    display:flex;
    flex-wrap: wrap;
    grid-gap: 60px;
    padding: 30px 50px;
    justify-content: center;
}
.item_image{
    width : 65px;
    height : 65px;
    margin : 0px 50px 0 50px; 
}
.item_container { 
    text-align: center;
}
.item_container p{
    font-size: 18px;;
}
.competence_description {
    max-width: 60vw;
    margin-top: 50px;
}

.filter_buttons {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
}
.button.active {
    background-color: var(--main-color);
    color: white;
    font-weight: 400;
}
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.services > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    width: 100%;
}

 .serviceItem_container, .service-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.serviceItem_container {
    position: relative;
    cursor : pointer;
    color : var(--main-color);
    font-size: 50px;    
    border : 3px solid var(--main-color);
    border-radius: 10px;
    min-width: 250px;
    min-height: 170px;
    padding: 20px 0;
    display: block; 
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.serviceItem_container h4 {
    font-size: 20px;    
}
.description_box{
    position: absolute;    
    padding: 10px 20px 0 20px;;
    transition : opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    max-width: 245px;
    margin-top: 20px;
}
.description_box> p{
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 10px;
    line-height: 17px;
    text-align: center;
    transition: color 300ms ease-in-out;
}

.serviceItem_container:hover, 
.serviceItem_container:focus {
    color: white;
    outline:0;
    box-shadow: 0px 0px 100px 100px var(--main-color) inset;
}

.serviceItem_container:hover p, 
.serviceItem_container:focus p {
    color: white;
}