@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
  font-family: "Mukta", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0 auto;
  max-width: 1920px;
}

