@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin :0;
}
:root {
  --main-color:#313239;
  --sub-color:#EBEFFA;
}
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

main{
  width:1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  margin: 0;
}
li {
  list-style-type: none;
}

h2 {
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.5rem;;
}

p {
  font-weight: 300;
  font-size: 1.3rem;
  margin: 0 auto;
}

img {
  object-fit: cover;
  width: 100%;
  height:100%;
}
section {
  height: 800px;
  padding : 100px 0px;
}
/* button style */
.button{
  appearance: none;
  background-color: white;
  border: 2px solid var(--main-color);
  border-radius: 0.2em;
  color: var(--main-color);
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  padding: 0.15em 1.4em;  
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  min-width: 5em; 
}
/* focus : lorsqu'un bouton est ciblé du clavier ou d'un autre dispositif de saisie :focus active */
.button:hover, .button:focus {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 40px 40px var(--main-color) inset;
}




